*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "Inter", sans-serif;
}

:root{
    --Linear: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));

    --color: #1A0B2E;
}

.display-width{
    max-width: 1340px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
.display-grid{
    display: grid;
}

.btn{
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 1000px;
    border: none;
    background: var(--Linear);
    color: #FFFFFF;

}

.text-regular{
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 400;

}

.text-titel{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}



/* main  */

/* navbar */

header{
    background-color: var(--color);
    padding: 30px 0px;
    
}

header>nav>.hamburger{
    display: none;
}

header>nav{
    justify-content: space-between;
    align-items: center;
}

.navbar>.menu-list>ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

.navbar>.menu-list>ul>li>a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;

}

header>nav>.logo>h1{
    color: #FFFFFF;
}

header>nav>.logo>h1>span{   
    background-image: var(--Linear);
    background-clip: text;
    color: transparent;
}


/* hero */

.hero{
    background-image: url('./assets/hero-bg.png');
    width: 100%;
    height:780px;
    background-size: cover;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero>.circle{
    position: relative;
}
.hero>.circle>.microphone>img{
    position: absolute;
    top:20%;
    left: 33%;
}

.hero>.circle>.microphone>span{
    padding: 8px 16px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 1000px;
    background-color: #00FF88;
    position: absolute;
    top:0%;
    left: 70%;
}


.hero>.hero-content{
    text-align: center;
    margin-top: 40px;
}

.hero>.hero-content>h1{
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
}

.hero>.hero-content>p{
    margin-bottom:24px;
}
.hero>.hero-content>.btn-1>i{
    margin-right:5px ;
}

.hero>.hero-content>.btn-2>i{
    margin-right: 5px;
    color: #00FF88;
}

.hero>.hero-content>.btn-2{
    background:none;
    border: 1px solid #00FF88;

}

/* about */


.about{
    background-color: #1A0B2E;
    text-align: center;
}

.about>.about-contant>p{
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 80px;
}
.about>hr{
  opacity: 10%;
}

.about>.about-card {
    margin-top: 80px;
    grid-template-columns: repeat(4,1fr);
    padding-bottom: 120px;
    
}

.about>.about-card>.card>h1{
   font-size: 3rem;
   font-weight: 900;
   color: #00FF88;
   margin-bottom: 16px;

}




@media screen and (max-width:576px) {
    header>nav>.menu-list , header>nav>.nav-btn{
        display: none;
    }
    header>nav>.logo{
        margin-left:18px ;
    }

    header>nav>.hamburger{
        display: inline;
        margin-right:18px ;
    }
    header>.hero{
    width: 100%;
    background-position: center;
    }
    .hero>.hero-content{
        max-width: 430px;
    }

    /* about  */

    .about>.about-contant{
    max-width: 430px;
    }

    .about>.about-card{
        max-width: 430px;
        grid-template-columns: repeat(2,1fr);
        gap: 40px;

    }

      
}