*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "Inter", sans-serif;
}

:root{
    --Linear: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));

    --color: #1A0B2E;
}

.display-width{
    max-width: 1340px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
.display-grid{
    display: grid;
}

.btn{
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 1000px;
    border: none;
    background: var(--Linear);
    color: #FFFFFF;

}

.text-regular{
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 24px;
    opacity: 60%;

}

.text-title{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}



/* animation  */

@keyframes appear {
        from {
          opacity: 0;
          clip-path: inset(100% 100% 0 0);
        }
        to {
          opacity: 1;
          clip-path: inset(0 0 0 0);
        }
      }

      .block {
        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
      }



/* main  */

/* navbar */

header{
    background-color: var(--color);
    padding: 30px 0px;
        
}

header>nav>.hamburger{
    display: none;
}

header>nav{
    justify-content: space-between;
    align-items: center;
   
}

.navbar>.menu-list>ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

.navbar>.menu-list>ul>li>a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;

}

.navbar>.menu-list>ul>li>a:hover{
    
    background-image: var(--Linear);
    background-clip: text;
    color: transparent;

}

header>nav>.logo>h1{
    color: #FFFFFF;
}

header>nav>.logo>h1>span{   
    background-image: var(--Linear);
    background-clip: text;
    color: transparent;
}




/* hero */

.hero{
    background-image: url('./assets/hero-bg.png');
    width: 100%;
    height:780px;
    background-size: cover;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.hero>.circle{
    position: relative;
}




.pulse{
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    background-color: #ff4545;

}
.pulse>span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    border: 2px solid #ff4545;
    background: transparent;
    animation: pulse 4s ease-out infinite;
    animation-delay: calc(1s * var(--i));
}

@keyframes pulse{
    100%{
        opacity: 0;
        transform: scale(1.6);

    }
}


.hero>.circle>.microphone>img{
    position: absolute;
    top:23%;
    left: 33%;
}

.hero>.circle>.microphone>span{
    padding: 8px 16px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 1000px;
    background-color: #00FF88;
    position: absolute;
    top:0%;
    left: 70%;
}


.hero>.hero-content{
    text-align: center;
    margin-top: 40px;
}

.hero>.hero-content>h1{
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
}

.hero>.hero-content>p{
    margin-bottom:24px;
}
.hero>.hero-content>.btn-1>i{
    margin-right:5px ;
}

.hero>.hero-content>.btn-2>i{
    margin-right: 5px;
    color: #00FF88;
}

.hero>.hero-content>.btn-2{
    background:none;
    border: 1px solid #00FF88;
    background-color: #230E3D;
    margin-left: 8px;

}







.btn{
    position: relative;
    
}



    @property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.btn::after , .btn::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index:-1;
  padding: 2px;
  border-radius:24px;
  animation: 3s spin linear infinite;
}
.btn::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}















/* about */


.about{
    background-color: #1A0B2E;
    text-align: center;
}

.about>.about-content>p{
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 80px;
}
.about>hr{
  opacity: 10%;
}

.about>.about-card {
    margin-top: 80px;
    grid-template-columns: repeat(4,1fr);
    padding-bottom: 120px;
    
}

.about>.about-card>.card>h1{
   font-size: 3rem;
   font-weight: 900;
   color: #00FF88;
   margin-bottom: 16px;

}

/* choose */

.choose{
    background-color: #230E3D;
     
}


.choose>.choose-title{
    padding-top: 120px;
    text-align: center; 
}

.choose>.choose-card{
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 120px;
}

.choose-card-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16;
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);

}



.choose-card-item>h6{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 21px;
    margin-bottom: 16px;
}





.choose>.choose-card>.choose-card-item-1{
    grid-row: span 2;
    
    
}

.choose>.choose-card>.choose-card-item-2{
    grid-column: span 2;
    
}

.choose>.choose-card>.choose-card-item-3{
    grid-column: span 2;
    
}

.choose>.choose-card>.choose-card-item-4{
    grid-column: span 2;
    
}



/* featured */


.featured{
    background-color: #1A0B2E;
}

.featured h1{
    text-align: center;
    padding-top: 120px;
    margin-bottom: 40px;
}



.featured-card {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 120px;

}

.featured-card>.featured-card-item{
    border-radius:24px;
    overflow: hidden;
    background: #230E3D;
}

.featured-card>.featured-card-item>iframe{
    width: 100%;
}
.featured-card>.featured-card-item>.featured-content{
    padding: 24px;
}
.featured-card>.featured-card-item>.featured-content>h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.featured-card>.featured-card-item>.featured-content>p{
    margin-bottom: 12px;
}

.featured-card>.featured-card-item>.featured-content>span{
   display: flex;
   gap: 8px;
   color: #00FF88;
}

.featured-card>.featured-card-item>.featured-content{
    max-width: 350px;
    
}





/* host */


.host{
    background-color: #1A0B2E;
    padding-bottom: 120px;

}

.host>h1{
    text-align: center;
    margin-bottom: 40px;
}

.host-card{
    background-color: #230E3D;
    padding: 37px;
    align-items: center;
    gap: 24px;
    border-radius: 24px;
    position: relative;
    z-index: 0;
    
    
}
.host-card>.host-content>h1{
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}


.host-card>.host-content>p{
   margin-bottom: 16px;
   max-width: 900px;
}

.host-content>.icon{
    gap: 8px;
}

.host-content>.icon>.icon-circle{
    width: 40px;
    height: 40px;
    border: 1px solid #533C72;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A0B2E;

}
.host-content>.icon>.icon-circle>.icon-img{
   
    display: flex;

}









.icon-circle{
    position: relative;
    
}



    @property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.icon-circle::after , .icon-circle::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 2px;
  border-radius:24px;
  animation: 3s spin linear infinite;
}
.icon-circle::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

















/* footer */

footer{
    background-image: url('./assets/footer-bg.png');
    width: 100%;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px;
    text-align: center;

}
footer>.logo{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer>.logo>h1{
    color: #FFFFFF;
}

footer>.logo>h1>span{   
    background-image: var(--Linear);
    background-clip: text;
    color: transparent;
    background-position: center;
}

footer>.footer-brand-icon>.footer-icon {
    display: flex;
    gap: 10px;
    color: #FFFFFF;
}
footer>.footer-brand-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;

    margin-top: 32px;
    margin-bottom: 32px;
    /* max-width: 550px; */
}

/* footer>.footer-brand-icon>.footer-icon>img{
    width: 100%;
    
} */




@media screen and (max-width:576px) {
    header>nav>.menu-list , header>nav>.nav-btn{
        display: none;
    }
    header>nav>.logo{
        margin-left:18px ;
    }

    header>nav>.hamburger{
        display: inline;
        margin-right:18px ;
    }
    header>.hero{
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: px; */
    height:680px;
        
    background-position-y: 130px;
    /* background-size:cover;  */
    }
    .hero>.hero-content {
        max-width: 430px;
    }

    .hero>.circle>img{
        width: 200px;
    }
    .hero>.circle>.microphone>img{
        width: 70px;
    }
    .hero>.circle>.microphone{
        margin-top: 20px;
    }

    .hero>.circle>.microphone>span{
    font-size: .9rem;
    
    }


    
    .pulse{
    
    width: 200px;
    height: 200px;
   
    }


    /* about  */

    .about>.about-content{
    max-width: 430px;
    }

    .about>.about-card{
        max-width: 430px;
        grid-template-columns: repeat(2,1fr);
        gap: 40px;

    }



    /* .choose */

    .choose>.choose-card{
    max-width: 430px;
    grid-template-columns: repeat(1,1fr);
    }

    
.choose>.choose-card>.choose-card-item-1{
    grid-row: span 1;
    
    
}

.choose>.choose-card>.choose-card-item-2{
    grid-column: span 1;
    
}

.choose>.choose-card>.choose-card-item-3{
    grid-column: span 1;
    
}

.choose>.choose-card>.choose-card-item-4{
    grid-column: span 1;
    
}
      

/* .featured */

.featured-card {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
     max-width: 430px;
  
}

/* host  */


.host-card{
     max-width: 430px;
    flex-direction: column;
    text-align: center;
    
}
.host-content>.icon{
    justify-content: center;
}



/* footer  */

footer{
    
    /* width: 100%; */
    height: 200px;
    
    
   

}

.footer{     
    background-position: center;     
    background-size:cover; 
    padding: 10px; 

}

footer>.logo{
    font-size: 1rem;
    margin-bottom: 16px;
    padding: 10px;
}


footer>.footer-brand-icon>.footer-icon {
    display: flex;
    gap: 10px;
    color: #FFFFFF;
    margin-bottom: 5px;
    margin-left: 9px;
}
footer>.footer-brand-icon{
    /* display: grid;
    grid-template-columns: repeat(2,150px);
    gap: 0px; */

    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    flex-wrap: wrap;
    

    margin-top: 0;
    /* max-width: 550px; */
}

footer>p{
    margin-top: 20px;
    /* max-width: 550px; */
}


footer>.footer-brand-icon>.footer-icon {
    display: flex;
    gap: 10px;
    color: #FFFFFF;
    margin-bottom: 5px;
}
footer>.footer-brand-icon{

    gap: 0px;

    margin-top: 0px;
    margin-bottom: 0px;
    /* max-width: 550px; */
}
}